#main-container {
    display: flex;
    justify-content: center;
    height: 700px;
  }
  
#masthead {
    color: #ff7aa2;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-top: 225px;
    text-align: center;
    font-size: 100px;
  }