#masthead-logged-in {
  color: #ff7aa2;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 75px;
  padding-top: 25px;
}

#nav-bar {
  display: flex;
  justify-content: center;
}

.link {
  padding: 0 25px;
  font-size: 20px;
  color: #ff7aa2;
}