.update-form-card {
  display: block;
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.update-header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 24px;
  color: rgb(106, 237, 95);
}

.update-labels {
  font-family: "Roboto", sans-serif;
  color: #ff7aa2;
}

.update-btn {
  font-family: "Roboto", sans-serif;
  background-color: darkgray;
  border: none;
}

.update-btn:hover {
  background-color: lightgray;
}

.delete-btn {
  font-family: "Roboto", sans-serif;
  background-color: darkgray;
  border: none;
  margin-left: 10px;
}

.delete-btn:hover {
  background-color: lightgray;
}
