#roulette-button {
  font-family: "Roboto", sans-serif;
  background-color: darkgray;
  border: none;
  width: 150px;
  margin: 10px;
}

#roulette-button:hover {
  background-color: lightgray;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

#video-title {
  font-family: "Roboto", sans-serif;
  color: #ff7aa2;
}
